<style>
    .active{
        background: #FFB600;
        color: white;
        }
        .pagination-button {
            width: 40px;
            border: 1px solid #FFB600;
            margin: 2px;
            display: inline-block;
            position: relative;
        }
        .pagination-class{
         margin: auto;
         width: 50%;
         padding: 10px;
         }
</style>
<div>
    {% verbatim %}
    <div class="panel panel-default varieties-panel">


        <table class="table">
            <tr>
                <th>Bl Id</th>
                <th>Client</th>
                <th>Details (Pallet id; Variete; Calibre; Type Colis; Nb Colis; Poids Net Livré)</th>
                <th>PDF</th>
            </tr>
            <tr ng-repeat="bl in bls | orderBy:'-id'">
                <td>{{bl.id}}</td>
                <td>{{bl.client.name}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="hideShow=(hideShow ? false : true);getBlPallets(bl,hideShow)"  style="float: right;">
                        <span ng-if="!hideShow"><i class=" fa fa-angle-double-down"></i> More details</span>
                        <span ng-if="hideShow"><i class=" fa fa-angle-double-up"></i> Less details</span>
                    </button>
                    <table class="table" ng-if="hideShow">
                        <tr ng-repeat="pallet in bl.pallets">
                            <!-- <td>{{pallet.id}} </td> -->
                            <td>
                                <table class="table">
                                    <tr ng-repeat="pallet_entry in pallet.entries">
                                        <td>{{pallet.id}}; {{pallet.variety.name}}; {{pallet_entry.calibre}};
                                            {{pallet_entry.packaging.name}}; {{pallet_entry.units}};
                                            {{pallet_entry.weight - (pallet_entry.units * pallet_entry.packaging.weight)
                                            - 18 | number}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td><a class="btn btn-primary" href="/blPDF/{{bl.id}}" target="_blank">
                    <i class="fa fa-print"></i>
                </a></td>
            </tr>
        </table>

        <!--    <table class="table">
               <tr>
                   <th>Bl Id</th>
                   <th>Client</th>
                   <th>City</th>
                   <th>Pallets</th>
                   <th></th>
               </tr>
               <tr ng-repeat="bl in bls | orderBy:'-id'">
                   <td>{{bl.id}}</td>
                   <td>{{bl.client.name}}</td>
                   <td>{{bl.client.city.name}}</td>
                   <td>

                       <table class="table">
                           <tr>
                               <th>pallet Id</th>
                               <th>Nom de la variété</th>
                           </tr>
                           <tr ng-repeat="pallet in bl.pallets">
                               <td>{{pallet.id}}</td>
                               <td>{{pallet.variety.name}} [ {{pallet.variety.parcel.name}} ]</td>
                               </td>
                           </tr>
                       </table>


                   </td>
                   <td><a class="btn btn-primary"  href="/blPDF/{{bl.id}}" target="_blank">
                                       <i class="fa fa-print"></i>
                                   </a></td>
               </tr>
           </table>
    -->
        <div class="pagination-class" ng-hide="isHidePagination"><button ng-class="($index*maxBlsInPage)==currentOffset ? 'active' : ''" class="pagination-button" ng-click="getBls($index*maxBlsInPage)" ng-repeat="x in [].constructor(nbrBls) track by $index">{{$index+1}}</button></div>

    </div>
    {% endverbatim %}
</div>

