<div >
    {% verbatim %}

    <div class="panel panel-default varieties-panel">

        <table class="table">
            <tr>
                <th>Client Name</th>
                <th>Address</th>
                <th>Phone</th>

                <th>City</th>
                <th></th>
            </tr>
            <tr>
                <td colspan="4" ng-if="show" class="error-msg">
                    City code or name is empty
                </td>

            </tr>
            <tr>
                <td><input name="clientName" ng-model="clientName" class="form-control" type="text" value=""
                           required></td>

                <td><input name="clientAddress" ng-model="clientAddress" class="form-control" type="text" value=""
                           required></td>
                <td><input name="clientPhone" ng-model="clientPhone" class="form-control" type="text" value=""
                           required></td>
                <td>
                    <select ng-model="cityId" class="form-control">
                        <option value="{{undefined}}">All</option>

                        <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
                    </select>
                </td>
                <td class="">
                    <div ng-class=""
                         class="btn-group btn-add-group">
                        <button ng-click="addClient()"
                                class="button-add btn btn-xs btn-primary fa fa-plus" ng-click=""></button>

                    </div>
                </td>

            </tr>
            <tr ng-repeat="client in clients">
                <td>{{client.name}}</td>
                <td >{{client.address}}</td>
                <td >{{client.phone}}</td>
                <td >{{client.city.name}}</td>
                <td class="remove-variety" style="width:80px">

                    <button ng-click="isRemove = !isRemove; $event.stopPropagation();"
                            class="button-remove fa fa-trash"
                            ng-class="{'hide-button-remove': isRemove == true,'show-button-remove': isRemove != true}"></button>
                    <button
                            class="button-remove glyphicon glyphicon-edit"
                            ng-class="{'hide-button-remove': isRemove == true,'show-button-remove': isRemove != true}"
                            data-toggle="modal" data-target="#updateClientDialog"
                            ng-click="setDataToUpdate(client)"></button>
                    <div style="float: right;" ng-class="{'hide-button-remove': isRemove != true,'show-button-remove': isRemove == true}"
                         class="btn-group">
                        <button ng-click="isRemove = !isRemove; deleteClient(client)"
                                class="btn btn-xs btn-primary fa fa-check"></button>

                        <button ng-click="isRemove = !isRemove;"
                                class="btn btn-xs btn-default fa fa-close"></button>
                    </div>
                </td>

            </tr>
        </table>
    </div>
     <div id="updateClientDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Client</h4>
                </div>
                <div class="modal-body">
                    <form name="userForm" ng-submit="updateClient()" class="form-horizontal"
                          novalidate="">

                        <fieldset>

                            <table class="table">
            <tr>
                <th>Client Name</th>
                <th>Address</th>
                <th>phone</th>
                <th>City</th>

            </tr>
            <tr>
                <td colspan="3" ng-if="showUpdate" class="error-msg">
                    Please fill all packaging data
                </td>

            </tr>
             <tr>
                  <td><input name="clientName" ng-model="clientToUpdate.name" class="form-control" type="text" value=""
                           required></td>

                <td><input name="clientAddress" ng-model="clientToUpdate.address" class="form-control" type="text" value=""
                           required></td>
                 <td><input name="clientPhone" ng-model="clientToUpdate.phone" class="form-control" type="text" value=""
                           required></td>
                <td>
                    <select ng-model="cityToUpdate" class="form-control"
                    ng-options="city.name for city in cities track by city.id">

                    </select>
                </td>




            </tr>
                                <tr><td colspan="3">
                                <button class="btn btn-primary" style="width:49%;float:left" ng-disabled="userForm.$invalid" >
                                    SAVE
                                </button>
                                <button type="button" style="width:49%;float:right" class="btn btn-default" data-dismiss="modal">Close</button>
                            </td></tr>

        </table>
                        </fieldset>
                    </form>
                </div>

            </div>

        </div>
    </div>

    {% endverbatim %}
</div>

