<div >
    {% verbatim %}

    <div class="panel panel-default varieties-panel">

        <table class="table">
            <tr>
                <th style="width:30%">Packaging Name</th>
                <th style="width:30%">Weight ( Kg )</th>
                <th style="width:30%">Packaging Type</th>
                <th></th>
            </tr>
            <tr>
                <td colspan="4" ng-if="show" class="error-msg">
                    Please fill all packaging data
                </td>

            </tr>
             <tr>
                <td> <input name="packagingName" ng-model="packagingName" class="form-control" type="text" value=""
                                           required></td>
                 <td> <input name="packagingWeight" ng-model="packagingWeight" class="form-control" type="number" min="0" max="99" value=""
                                           required></td>
                  <td>
                    <select ng-model="packagingType" class="form-control">
                        <option value="{{undefined}}">All</option>
                        <option value="pf">Final product</option>
                        <option value="pb">Gross product</option>
                    </select>
                </td>
                <td class="">
                    <div ng-class=""
                         class="btn-group btn-add-group">
                        <button ng-click="addPackaging()"
                                class="button-add btn btn-xs btn-primary fa fa-plus" ></button>

                    </div>
                </td>

            </tr>
            <tr ng-repeat="pack in packaging | orderBy: 'id'" style="text-align:left!important">
                <td style="text-align:left!important">{{pack.name}}</td>
                <td class="code-variety" style="text-align:left!important">{{pack.weight}}</td>
                <td class="code-variety" style="text-align:left!important">{{pack.packaging_type == 'pf' ? 'Final product'  : 'Gross product'}}</td>
                <td class="remove-variety" >
                    <button ng-click="isRemove = !isRemove; $event.stopPropagation();"
                            class="button-remove fa fa-trash"
                            ng-class="{'hide-button-remove': isRemove == true,'show-button-remove': isRemove != true}"></button>
                     <button
                            class="button-remove glyphicon glyphicon-edit"
                            ng-class="{'hide-button-remove': isRemove == true,'show-button-remove': isRemove != true}"
                            data-toggle="modal" data-target="#updatePackagingDialog" ng-click="setDataToUpdate(pack)"></button>
                    <div style="float: right!important;" ng-class="{'hide-button-remove': isRemove != true,'show-button-remove': isRemove == true}"
                         class="btn-group">
                        <button ng-click="isRemove = !isRemove; deletePackaging(pack)"
                                class="btn btn-xs btn-primary fa fa-check" ></button>
                        <button ng-click="isRemove = !isRemove;"
                                class="btn btn-xs btn-default fa fa-close"></button>
                    </div>
                </td>

            </tr>
        </table>
    </div>
    {% endverbatim %}

     <div id="updatePackagingDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Packaging</h4>
                </div>
                <div class="modal-body">
                    <form name="userForm" ng-submit="updatePackaging()" class="form-horizontal"
                          novalidate="">

                        <fieldset>

                            <table class="table">
            <tr>
                <th style="width:30%">Packaging Name</th>
                <th style="width:30%">Weight</th>
                <th style="width:30%">Packaging Type</th>

            </tr>
            <tr>
                <td colspan="3" ng-if="showUpdate" class="error-msg">
                    Please fill all packaging data
                </td>

            </tr>
             <tr>
                <td> <input name="packagingNameToUpdate" ng-model="packagingToUpdate.name" class="form-control" type="text" value=""
                                           required></td>
                 <td> <input name="packagingWeightToUpdate" ng-model="packagingToUpdate.weight" class="form-control" type="number" string-to-number min="0" max="99"  value=""
                                           required></td>
                  <td>
                    <select ng-model="packagingToUpdate.packaging_type" class="form-control">
                        <option value="{{undefined}}">All</option>
                        <option value="pf">Final product</option>
                        <option value="pb">Gross product</option>
                    </select>
                </td>


            </tr>
                                <tr><td colspan="3">
                                <button class="btn btn-primary" style="width:49%;float:left" ng-disabled="userForm.$invalid" >
                                    SAVE
                                </button>
                                <button type="button" style="width:49%;float:right" class="btn btn-default" data-dismiss="modal">Close</button>
                            </td></tr>

        </table>
                        </fieldset>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>

