<div >

    {% verbatim %}
    <div class="panel panel-default parcels-panel">

        <table class="table">
            <tr>
                <th>Product</th>
                <th>Parcel Name</th>

                <th></th>
            </tr>
            <tr>

                <td>
                    <select ng-model="productId" class="form-control">
                        <option value="{{undefined}}">All</option>

                        <option ng-repeat="product in products" value="{{product.id}}">{{product.name}}</option>
                    </select>
                </td>
                <td>
                    <input name="parcelName" ng-model="parcelName" class="form-control" type="text" value=""
                           required>
                </td>
                <td class="">
                    <div ng-class=""
                         class="btn-group btn-add-group">
                        <button ng-click="addParcel()"
                                class="button-add btn btn-xs btn-primary fa fa-plus"></button>

                    </div>
                </td>

            </tr>
            <tr ng-repeat="product in products" ROWSPAN=2 ng-hide="filteredParcels.length == 0">
                <td>{{product.name}}</td>
                <td COLSPAN=2>
                    <table class="table table-parcels">

                        <tr ng-repeat="parcel in filteredParcels = (parcels | filter: {product: { id :product.id}} | filter: {product: { id: productId}})">

                            <td>{{parcel.name}}</td>

                            <td class="remove-parcel">
                                <button ng-click="isRemove = !isRemove; $event.stopPropagation();"
                                        class="button-remove fa fa-trash"
                                        ng-class="{'hide-button-remove': isRemove == true,'show-button-remove': isRemove != true}"></button>
                                <div ng-class="{'hide-button-remove': isRemove != true,'show-button-remove': isRemove == true}"
                                     class="btn-group">
                                    <button ng-click="isRemove = !isRemove; deleteParcel(parcel)"
                                            class="btn btn-xs btn-primary fa fa-check"></button>
                                    <button ng-click="isRemove = !isRemove;"
                                            class="btn btn-xs btn-default fa fa-close"></button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>
        </table>
    </div>
    {% endverbatim %}
</div>


