<div >

    {% verbatim %}
    <div class="panel panel-default products-panel">

        <table class="table">
            <tr>


                <th>Product Name</th>
                <th>Product Code</th>
                <th></th>
            </tr>
            <tr>
                <td colspan="4" ng-if="show" class="error-msg">
                    Product name is empty or the parcel is not selected
                </td>

            </tr>
            <tr>
                <!--<td>-->
                <!--<select ng-model="parcelId" class="form-control">-->
                <!--<option  value="{{undefined}}">All</option>-->
                <!--<option ng-repeat="parcel in parcels" value="{{parcel.id}}">[{{parcel.variety.name}}] : {{parcel.name}}</option>-->
                <!--</select>-->
                <!--</td>-->

                <td>
                    <input name="productName" ng-model="productName" class="form-control" type="text" value=""
                           required>
                </td>
                <td><input name="productCode" ng-model="productCode" class="form-control" type="text" value=""
                           required></td>
                <td class="">
                    <div ng-class=""
                         class="btn-group btn-add-group">
                        <button ng-click="addProduct()"
                                class="button-add btn btn-xs btn-primary fa fa-plus"></button>

                    </div>
                </td>

            </tr>
            <!--<tr ng-repeat="parcel in parcels" ROWSPAN=2 ng-hide="filteredProducts.length == 0">-->

            <!--<td>[{{parcel.variety.name}}] : {{parcel.name}}</td>-->
            <!--<td COLSPAN=2>-->
            <!--<table class="table table-parcels"  >-->

            <tr ng-repeat="product in products">
                <!--filteredProducts = (products | filter:filterProducts(parcel)) ">-->
                <td>{{product.name}}</td>
                <td>{{product.code}}</td>

                <td class="remove-product">
                    <button ng-click="isRemove = !isRemove; $event.stopPropagation();"
                            class="button-remove fa fa-trash"
                            ng-class="{'hide-button-remove': isRemove == true,'show-button-remove': isRemove != true}"></button>
                    <div ng-class="{'hide-button-remove': isRemove != true,'show-button-remove': isRemove == true}"
                         class="btn-group">
                        <button ng-click="isRemove = !isRemove; deleteProduct(product)"
                                class="btn btn-xs btn-primary fa fa-check"></button>
                        <button ng-click="isRemove = !isRemove;"
                                class="btn btn-xs btn-default fa fa-close"></button>
                    </div>
                </td>
                <!--</tr>-->
                <!--</table>-->
                <!--</td>-->

            </tr>
        </table>
    </div>
    {% endverbatim %}
</div>


