<div >
    {% verbatim %}

    <div class="panel panel-default stocks-panel">
         <div style="text-align:center;font-size: 20px;margin: 15px;font-weight: bold;">Stock brut</div>
        <table class="table">
            <tr>
                <th> ID palette </th>
                 <th style = "width: 300px"> Nom de la variété </th>
                 <th> Poids Net </th>
                 <th> Unités </th>
                 <th> caporal </th>
                 <th> Date </th>
                 <!-- <th> Archivé </th> -->
            </tr>

            <tr ng-repeat="stock in stocksBrut | orderBy:'-id'">
                <td>{{stock.id}}</td>
                <td>{{stock.variety.name}} [ {{stock.variety.parcel.name}} ]</td>
                <td>{{stock.weight - (stock.units * stock.packaging.weight) - 30 | number}}</td>
                <td>{{stock.units}}</td>
                <td>{{stock.corporal}}</td>
                <td>{{stock.date}}</td>
                <!-- <td><input type="checkbox" ng-model="stock.archived" ng-click="archive(stock)"></td> -->

            </tr>
        </table>
    </div>
    {% endverbatim %}
</div>
