<style>
    .active{
        background: #FFB600;
        color: white;
        }
        .pagination-button {
            width: 40px;
            border: 1px solid #FFB600;
            margin: 2px;
            display: inline-block;
            position: relative;
        }
        .pagination-class{
         margin: auto;
         width: 50%;
         padding: 10px;
         }
</style>
<div >
    {% verbatim %}

    <div class="panel panel-default stocks-panel">

        <table class="table">
            <tr>
                <th>Pallet ID</th>
                <th style="width:300px">Product Name</th>
                <th>Total Units</th>
                <th>Entries</th>
                <th>City</th>
            </tr>

            <tr ng-repeat="pallet in pallets | orderBy:'-id'">
                <td>{{pallet.id}}</td>
                <td>{{pallet.variety.parcel.product.name}}<br>[ {{pallet.variety.name}} ]</td>
                <td>{{pallet.totalUnits}}</td>
                <td>
                    <table class="table table-parcels">
                        <tr>
                            <th>Calibre</th>
                            <th>Units</th>
                            <th>Net Weight</th>
                        </tr>
                        <tr ng-repeat="entry in pallet.entries">

                            <td class="code-product">{{entry.calibre}}</td>
                            <td class="code-product">{{entry.units}}</td>
                            <td class="code-product">{{entry.weight - (entry.units * entry.packaging.weight) - 18 | number}}</td>

                        </tr>
                    </table>
                </td>
                <td>

                    <select ng-model="clientId" ng-init="clientId=pallet.destination.id.toString()">
                        <option value="{{undefined}}">All</option>

                        <option ng-repeat="client in clients" ng-selected="{{client.id == pallet.destination.id}}"
                                value="{{client.id}}">{{client.name}} [ {{client.city.name}} ]
                        </option>
                    </select>

                    <div  ng-show="clientId != pallet.destination.id"class="btn-group">
                        <button ng-click="updatePalletClient(pallet, clientId)"
                                class="btn btn-xs btn-primary fa fa-check"></button>
                        <button ng-click="clientId = pallet.destination.id.toString()" class="btn btn-xs btn-default fa fa-close"></button>

                    </div>
                </td>
            </tr>
        </table>
            <div class="pagination-class" ng-hide="isHidePagination"><button ng-class="($index*maxPalletInPage)==currentOffset ? 'active' : ''" class="pagination-button" ng-click="getStocks($index*maxPalletInPage)" ng-repeat="x in [].constructor(nbrPallets) track by $index">{{$index+1}}</button></div>
    </div>
    {% endverbatim %}
</div>
