<div >
    {% verbatim %}


    <div class="panel panel-default user-panel">

        <table class="table">
            <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td class="remove-user">
                    <button ng-click="isRemove = !isRemove; $event.stopPropagation();"
                            class="button-remove fa fa-trash"
                            ng-class="{'hide-button-remove': isRemove == true,'show-button-remove': isRemove != true}"></button>
                    <div ng-class="{'hide-button-remove': isRemove != true,'show-button-remove': isRemove == true}"
                         class="btn-group">
                        <button ng-click="isRemove = !isRemove; deleteOnClick(user)"
                                class="btn btn-xs btn-primary fa fa-check" ng-click=""></button>
                        <button ng-click="isRemove = !isRemove;"
                                class="btn btn-xs btn-default fa fa-close"></button>
                    </div>
                </td>

            </tr>
        </table>
    </div>
    <button class="round-button" data-toggle="modal" data-target="#addUserDialog"><i class="fa fa-plus"
                                                                                     aria-hidden="true"></i>
    </button>


    {% endverbatim %}

    <!-- Modal -->
    <div id="addUserDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add User</h4>
                </div>
                <div class="modal-body">
                    <form name="userForm" ng-submit="addUser()" class="form-horizontal"
                          novalidate="">

                        <fieldset>

                            <div class="form-group ">

                                <label class="col-sm-2 control-label ">
                                    Username <span class="required-star">*</span>
                                </label>


                                <div class="col-sm-10">
                                    <input name="username" ng-model="username" class="form-control" type="text" value=""
                                           required>
                                </div>
                            </div>

                            <div class="form-group ">

                                <label class="col-sm-2 control-label ">
                                    Password <span class="required-star">*</span> (min length: 8)
                                </label>

                                <div class="col-sm-10">
                                    <input name="password" ng-model="password" class="form-control" type="password"
                                           minlength="8" required>


                                </div>
                            </div>


                            <div class="form-group ">

                                <label class="col-sm-2 control-label ">
                                    Last name
                                </label>


                                <div class="col-sm-10">
                                    <input name="last_name" ng-model="lastName" class="form-control" type="text"
                                           value="">


                                </div>
                            </div>


                            <div class="form-group ">

                                <label class="col-sm-2 control-label ">
                                    First name
                                </label>


                                <div class="col-sm-10">
                                    <input name="first_name" ng-model="firstName" class="form-control" type="text"
                                           value="">

                                </div>
                            </div>


                            <div class="user-form-actions">
                                <button class="btn btn-primary" ng-disabled="userForm.$invalid" >
                                    POST
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>