<div >
    {% verbatim %}

    <div class="panel panel-default varieties-panel">

        <table class="table">
            <tr>

                <th>Parcel</th>

                <th>Variety Name</th>
                <th>Product</th>
                <th></th>
            </tr>
            <tr>
                <td colspan="3" ng-if="show" class="error-msg">
                    Variety code or name is empty
                </td>

            </tr>
            <tr>
                <td>
                    <select ng-model="parcelId" class="form-control">
                        <option value="{{undefined}}">All</option>

                        <option ng-repeat="parcel in filteredParcels" value="{{parcel.id}}">{{parcel.name}}[
                            {{parcel.product.name}} {{pid}}]
                        </option>
                    </select>
                </td>
                <td><input name="varietyName" ng-model="varietyName" class="form-control" type="text" value=""
                           required></td>

                <td>
                    <select ng-model="productId"
                            ng-change="filteredParcels = (parcels | filter: {product: { id :productId}});parcelId=undefined;"
                            class="form-control">
                        <option value="{{undefined}}">All</option>

                        <option ng-repeat="product in products" value="{{product.id}}">{{product.name}}
                        </option>
                    </select>
                </td>
                <td class="">
                    <div ng-class=""
                         class="btn-group btn-add-group">
                        <button ng-click="addVariety()"
                                class="button-add btn btn-xs btn-primary fa fa-plus" ng-click=""></button>

                    </div>
                </td>

            </tr>
            <tr ng-repeat="parcel in filteredParcel = (parcels | filter : { id : parcelId}|filter: {product: {id :productId}});"
                ROWSPAN=2 ng-hide="filterVarieties.length == 0 ">
                <td valign="center" style="text-align:center"><b>{{parcel.name}}</b></td>
                <td COLSPAN=2 >
                    <table class="table table-parcels">
                        <tr style="background: #FFB600;">

                            <th style="width:50%"> Variety Name</th>

                            <th style="width:25%">Product Code</th>
                            <th style="width:25%">Product Type</th>
                        </tr>
                        <tr ng-repeat="variety in filteredVarieties = (varieties | filter : {parcel: {id : parcel.id}}:true)  ">

                            <td>{{variety.name}}</td>
                            <td>{{variety.code}}</td>
                            <td>{{variety.parcel.product.name}}</td>

                            <td class="remove-variety">
                                <button ng-click="isRemove = !isRemove; $event.stopPropagation();"
                                        class="button-remove fa fa-trash"
                                        ng-class="{'hide-button-remove': isRemove == true,'show-button-remove': isRemove != true}"></button>
                                <div ng-class="{'hide-button-remove': isRemove != true,'show-button-remove': isRemove == true}"
                                     class="btn-group">
                                    <button ng-click="isRemove = !isRemove; deleteVariety(variety)"
                                            class="btn btn-xs btn-primary fa fa-check"></button>
                                    <button ng-click="isRemove = !isRemove;"
                                            class="btn btn-xs btn-default fa fa-close"></button>
                                </div>
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    </div>
    {% endverbatim %}
</div>

