{% extends "base.html" %}


{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


<div class="container">

    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">


        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Domaine Itto</div>
            </div>

            <div class="panel-body" >
                <form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST" action="{% url 'login' %}">
                 {% csrf_token %}

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                        <input class="form-control" id="{{ form.username.id_for_label }}"  name="{{ form.username.html_name }}"  placeholder="User" type="text" />
                        {{ form.username.errors }}
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                         <input class="form-control" id="{{ form.password.id_for_label }}"  name="{{ form.password.html_name }}"  placeholder="Password" type="password" />
                        {{ form.password.errors }}
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button type="submit" href="#" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Log in</button>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<div id="particles"></div>



{% endblock %}