.round-button {
    display:block;
    width:50px;
    height:50px;
    line-height:45px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #FFB600;
    box-shadow: 0 0 2px #FFB600;
    font-size:20px;
    font-weight:bold;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.round-button:hover, button.button-remove:hover, button.button-add:hover, .btn-primary:hover, .btn-default:hover {
    background: rgb(255, 145, 0);
    border: 1px solid #f5f5f5;

}
.user-panel{
    width: 80%;
    margin: auto;
}
button.button-remove, button.button-add{
    float: right;
    display: block;
    width: 30px;
    height: 20px;
    line-height: 13px;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #FFB600;
    box-shadow: 0 0 2px #FFB600;
    font-size: 13px;
    font-weight: bold;

}
button.button-add, .btn-group.btn-add-group{
    height: 34px;
    width: 100%;
    }

.btn-primary:active,.btn-primary:focus {
 background-color: rgb(255, 145, 0)!important;
     border-color: #f5f5f5!important;
    }
.btn-primary {
    color: #fff;
    background-color: #FFB600;
    box-shadow: 0 0 2px #FFB600;
    border-color: #f5f5f5;
}
.btn-default {
    color: #333;
    box-shadow: 0 0 2px #FFB600;
    border-color: #f5f5f5;
}

button.show-button-remove, div.hide-button-remove{
    display: block;
}

button.hide-button-remove, div.hide-button-remove{
    display: none;
}

td.remove-user, td.remove-parcel, td.remove-variety{
    width:65px;
}

.help-block {
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #737373;
}

.error-msg {
    color: #ff4545;
    text-align: center;
    }

.user-form-actions{
    display: inline-block;
    margin: auto;
    width: 120px;
    left: 50%;
    position: relative;
    margin-left: -60px;
}

.required-star{
    color:red;
}

.table.table-parcels{
    margin: 0;
    border: 1px solid #ddd!important;
 }