.open-nav {
    float: left;
    height: 42px;
    padding: 15px 25px;
    font-size: 18px;
    line-height: 20px;
    color: #FFB600;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
 }

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
     border-width: 0 1px 0 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}


.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFB600;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}


.side-nav a:hover, .offcanvas a:focus{
    color: rgb(255, 145, 0);
}


.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#main {
    transition: margin-left .5s;
    padding: 20px;
}


@media screen and (max-height: 450px) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;}
}