*:focus {
    outline: 0!important;
}
*{
    margin:0;
}

body{
    background:#F5F5F5;
    font-family: 'Roboto Condensed', sans-serif;

}

button{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.profile{
    float: right;
    height: 42px;
    padding: 15px 25px;
    font-size: 18px;
    line-height: 20px;
    color: #FFB600;
    cursor: pointer;
}

.profile:hover{
    color: rgb(255, 145, 0);
    text-decoration: none;
}

.profile .fa.fa-user{
    margin-right: 7px;
}

.profile img {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

#side-menu{
    position: fixed;
    width: 160px;
    height: auto;
    top: 40px;
    right: 20px;
    top: -160px;
    padding-top: 20px;
    -webkit-transition: all 1s;
    transition: all 1s;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    padding-left:0px;
    border-width: 1px;
    border-style: solid;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.alert{
  z-index:1000;
}

.hide-side-menu{
    top: -160px!important;
    opacity: 0.00;
    filter: alpha(opacity =0);
}

.show-side-menu{
    top: 40px!important;
    opacity: 1;
    filter: alpha(opacity =100);
}

.side-menu-items{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    width: 100%;
}
.side-menu-items li{
    height: 30px;
    line-height: 30px;
}

.side-menu-items li a{
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 0px 10px;
    text-shadow: 1px 1px 1px #F5F5F5;
    font-family: 'Roboto Condensed', sans-serif;
}

.side-menu-items li a:hover{
    background: #FFB600;
}

.side-menu-items .divider{
    height: 1px;
    background: #e7e7e7;
    margin: 10px 0px;
}