<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Domain ITTO</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'angular/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-i18n/angular-locale_fr.js' %}"></script>

    <script type="text/javascript" src="{% static 'angular-cookies/angular-cookies.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-route/angular-route.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-bootstrap/ui-bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-loading-bar/build/loading-bar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-click-outside/clickoutside.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'ng-websocket/ng-websocket.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'angular-animate.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'angular-sanitize/angular-sanitize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ngToast/dist/ngToast.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/realtime.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cities.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/packaging.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/users.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/varieties.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/parcels.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/products.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/clients.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/stocks.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/stocksbrut.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bl.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/reports/stockReports.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/reports/stockByVariety.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/reports/processedReports.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/printer/print.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'ngToast/dist/ngToast.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'angular-loading-bar/build/loading-bar.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/tools.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/side-menu.css' %}">
    <script>

    function printRep(){
        var mywindow = window.open('', 'my div', 'height=400,width=600');
        var data = document.getElementById("report-stock").innerHTML;

    mywindow.document.head.innerHTML = '<title>PressReleases</title> <style>.table{width:100%;} th{text-align: left;padding: 10px;} #header-rep-print{margin:30px; font-weight:bold;}tr td { border-bottom:1pt solid black; padding: 10px; }</style>';
    mywindow.document.body.innerHTML = '<body>' + data + '</body>';
    mywindow.document.getElementById("header-rep").style = "display:none";
    mywindow.document.getElementById("header-rep-print").style = "display:block";
    mywindow.document.close();
    mywindow.focus();
    mywindow.print();
    mywindow.close();

    return true;
    }

        </script>
</head>
<body ng-app="{% block ng_app %}farmos.app{% endblock %}">
<toast></toast>
<div ng-controller="{% block ng_controller %}MainController{% endblock %}">

    {% if user.is_authenticated %}

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">


                <a class="profile" ng-click="isSideMenuOpen = !isSideMenuOpen; $event.stopPropagation();"><i
                        class="fa fa-user" aria-hidden="true"></i>{{user.username}}</a>

            </div>
            <!-- Use any element to open the sidenav -->
            <span ng-click="openNav()" class="open-nav fa fa-bars"></span>
        </div>
    </nav>
    {% verbatim %}

    <div id="side-nav" class="side-nav">
        <a class="close-btn" ng-click="closeNav()">&times;</a>
        <div class="reports-menu">Livraisons:</div>
            <a href="#bl" ng-click="closeNav()">Bon de livraison</a>
            <a href="#stocks" ng-click="closeNav()">Palettes produit fini</a>
        <br>    
        <div class="reports-menu">Stock Frigo:</div>
            <a href="#stocksBrut" ng-click="closeNav()">Stock</a>
            <a href="#StockByVarietyReports" ng-click="closeNav()">Stock par variété</a>
        <br>
        <div class="reports-menu">Rapports:</div>
            <a href="#stocksReports"  ng-click="closeNav()">Stock entré</a>
            <a href="#processedReports" ng-click="closeNav()">Stock conditionné</a>
        <br>
        <div class="reports-menu">Paramètres:</div>
        <a href="#varieties" ng-click="closeNav()">Variétés</a>
        <a href="#parcels" ng-click="closeNav()">Parcelles</a>
        <a href="#products" ng-click="closeNav()">Produits</a>
        <a href="#clients" ng-click="closeNav()">Clients</a>
        <a href="#packaging" ng-click="closeNav()">Emballages</a>
        <!--<a href="#palletReports" ng-click="closeNav()">Daily Pallets</a>-->
    </div>
    <div id="side-menu" click-outside="isSideMenuOpen = false"
         ng-class="{'show-side-menu': isSideMenuOpen == true,'hide-side-menu': isSideMenuOpen != true}">
        <ul class="side-menu-items">
            {% endverbatim %}

            {% if user.is_superuser %}
            <li role="menu-item"><a href="#users"
                                    ng-click="isSideMenuOpen = !isSideMenuOpen; $event.stopPropagation();">Users</a>
            </li>
            {% endif %}

            {% verbatim %}
            <li class="divider"></li>
            <li role="menu-item"><a href="/logout">Logout </a></li>
        </ul>
    </div>
    {% endverbatim %}

    {% endif %}
</div>

{% block content %}
{% endblock %}

</body>
</html>