<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    {% load static %}

    <style>
    .graybackground{
    background: #e8e8e8;}
    .whitebackground{
    background: white;
    }
       .header table,  .header table th,  .header table td {
  border: 1px solid black;
  vertical-align: text-top;
}
.header table {
  border-collapse: collapse;
}
 .th
{   border: 1px solid black;
padding:3px;
  border-collapse: collapse; }
  .borderNONE
{   border: none!important; }
.td
{   border: 1px solid black;
  border-collapse: collapse; }
  .borderNONE
{   border: none!important; }

.td div{
padding: 5px;
}





    </style>
</head>
<body>
<table>
    <tr>
        <td style="width:20%">
            <strong>DOMAINE ITTO SARL </strong>
            <br>
            Douar Ali ou Othmane<br>
            Commune Rurale Laqsir <br>
            Ain Taoujdate - El Hajeb<br>
            Mail: station@ittogroup.ma<br>

        </td>
        <td style="width:60%; font-size:25px; text-align:center">
            <b> Bon de Livraison</b>
        </td>
        <td style="width:20%; ">
            <img src="{% static 'images/ittoLogo.png' %}">
        </td>
    </tr>

</table>
<br><br>
<div>
    <table style="width:100%" class="header">
        <tr>
            <td style="width:50%;margin:5px">
                <table style="width:100%; padding:5px; margin:5px" height="130px">
                    <tr>
                        <td style="width:40%"><strong>NºBon Livraison</strong>

                        </td>
                        <td style="width:60%">
                            
                        </td>
                    </tr>
                    <tr>
                        <td style="width:40%"><strong>Date Expédition</strong>

                        </td>
                        {% load i18n %}

                        {% language 'fr' %}
                        <td style="width:60%">
                            {{bl.date| date:"l d F Y"}}
                        </td>
                        {% endlanguage %}
                    </tr>
                    <tr>
                        <td style="width:40%"><strong>Nom Transporteur</strong>


                        </td>
                        <td style="width:60%">

                        </td>
                    </tr>
                    <tr>
                        <td style="width:40%"><strong>Numéro Véhicule</strong>


                        </td>
                        <td style="width:60%">

                        </td>
                    </tr>
                </table>

            </td>
            <td style="width:5%"></td>
            <td style="width:45%;margin:5px">
                <table style="width:100%;padding:5px; margin:5px" height="130px">
                    <tr>
                        <td style="width:40%">
                            <strong> Client</strong>


                        </td>
                        <td style="width:60%">
                            {{bl.client.name}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width:40%">
                            <strong> Adresse</strong>


                        </td>
                        <td style="width:60%">
                            {% if bl.client.address != None %}
                            {{bl.client.address}}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width:40%">
                            <strong> Tél</strong>


                        </td>
                        <td style="width:60%">
                             {% if bl.client.address != None %}
                            {{bl.client.phone}}
                              {% else %}
                                ---
                            {% endif %}
                        </td>
                    </tr>

                </table>

            </td>
        </tr>
    </table>
</div>

<div>


    <br><br><br>
    <table class="body-table" >
        <tr style="text-align:left">
            <th class="th">Désignation Article</th>
            <th class="th">Calibre</th>
            <th class="th">Type Colis</th>
            <th class="th">Nb Colis</th>
            <th class="th">Poids net <br>livré (kg)</th>
            <th class="th">Poids net <br>reçu (kg)</th>
            <th class="th">Prix <br>unitaire (Mad)</th>
            <th class="th">Montant <br>Total (Mad)</th>

        </tr>
        {% load sort_extras %}

        {% for key, product_pallets in pallets_data_list.items%}
        {% for key, pallet_entry in product_pallets.pallets.items|sort_by:"-calibre" %}

            <tr style="text-align:left" {% cycle graybackground whitebackground %}>
            {% if forloop.counter == 1 %}
                <td class="td" rowspan="{{ product_pallets.length}}">
                    <div> {{ product_pallets.product}}
                    </div>
                </td>
            {% endif %}

            <td class="td">
                <div>{{pallet_entry.calibre}}</div>
            </td>
            <td class="td">
                <div>{{pallet_entry.packaging.name}}</div>
            </td>
            <td class="td">
                <div>{{pallet_entry.units}}</div>
            </td>
            <td class="td">
                <div>{{pallet_entry.poid_net}}</div>
            </td>
            <td class="td"></td>
            <td class="td"></td>
            <td class="td"></td>

        </tr>

        {% endfor %}
        {% endfor %}
        <tr style="text-align:left">
            <td colspan="2" class="borderNONE"></td>
            <td class="td">
                <div><Strong>Total</Strong>
                </div>
            </td>
            <td class="td">
                <div><Strong>{{total_units}}</Strong></div>
            </td>
            <td class="td">
                <div><Strong>{{total_poid_net}}</Strong></div>
            </td>
            <td class="td"></td>
            <td class="td">
                <div><Strong>Total HT</Strong></div>
            </td>
            <td class="td"></td>
        </tr>


        <tr style="text-align:left">
            <td colspan="5" class="borderNONE"></td>

            <td class="td" colspan="2">
                <div><Strong>Commission</Strong></div>
            </td>
            <td class="td">

            </td>

        </tr>
        <tr style="text-align:left">
            <td colspan="5" class="borderNONE"></td>

            <td class="td" colspan="2">
                <div><Strong>Transport</Strong></div>
            </td>
            <td class="td">

            </td>
        <tr style="text-align:left">
            <td colspan="5" class="borderNONE"></td>

            <td class="td" colspan="2">
                <div><Strong>Charge /Décharge</Strong></div>
            </td>
            <td class="td">

            </td>

        </tr>
        <tr style="text-align:left">
            <td colspan="5" class="borderNONE"></td>

            <td class="td" colspan="2">
                <div><Strong>Autres frais</Strong></div>
            </td>
            <td class="td">

            </td>

        </tr>
        <tr style="text-align:left">
            <td colspan="5" class="borderNONE"></td>

            <td class="td" colspan="2">
                <div><Strong>Total Frais</Strong></div>
            </td>
            <td class="td">

            </td>

        </tr>
        <tr style="text-align:left">
            <td colspan="5" class="borderNONE"></td>

            <td class="td" colspan="2">
                <div><Strong>Net à payer HT (Mad)</Strong></div>
            </td>
            <td class="td">

            </td>

        </tr>
        <tr style="text-align:left">
            <td colspan="5" class="borderNONE"></td>

            <td class="td" colspan="2">
                <div><Strong>TVA à 0%</Strong></div>
            </td>
            <td class="td">

            </td>

        </tr>
        <tr style="text-align:left">
            <td colspan="5" class="borderNONE"></td>

            <td class="td" colspan="2">
                <div><Strong>Total TTC (Mad)</Strong></div>
            </td>
            <td class="td">

            </td>

        </tr>


    </table>
    <br><br><br><br><br><br>
    <table>
        <tr>
            <th style="width:10%"></th>
            <th style="width:39%; text-align:left">Visa Transporteur</th>
            <th style="width:2%"></th>
            <th style="width:39%; text-align:left">Visa Client</th>
            <th style="width:10%"></th>
        </tr>
        <tr>
            <td></td>
            <td class="td"><br><br><br><br><br></td>
            <td></td>
            <td class="td"><br><br><br><br><br></td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>