<div >
    <div>
        <div class="panel panel-default stocks-panel" style="border: 0;">
            <button type="button" onclick="printRep()" class="btn btn-default">
                <span class="glyphicon glyphicon-print"></span> Print
            </button>
        </div>

    </div>
    {% verbatim %}
    <div id="report-stock">
        <div style="text-align:center;font-size: 22px;margin: 15px;font-weight:bold;">Produits bruts conditionnés</div>

        <div class="panel panel-default stocks-panel">

            <div class="datetime-picker-label" id="header-rep-print" style="display:none;">Réception du : {{dt | date :
                format}}
            </div>

            <div class="datetime-picker-label" id="header-rep">Réception du :
                <p class="input-group datetime-picker">
                    <input type="text" class="form-control" ng-change="select(dt)" uib-datepicker-popup="{{format}}"
                           ng-model="dt" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true"
                           close-text="Close"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>
            <table class="table">
                <tr>

                    <th>Variété</th>
                    <th>Parcelle</th>
                    <th>Nbr palettes</th>
                    <th>Nbr caisses</th>
                    <th>Poids</th>
                </tr>
                <tr ng-repeat="data in stockDailyToShow | orderBy:'codeVariety'">
                    <td> {{data.variety}}</td>
                    <td> {{data.parcel}}</td>
                    <td> {{data.nbPallets}}</td>
                    <td> {{data.nbUnits}}</td>
                    <td> {{data.weight | number:2}} KG</td>
                </tr>
            </table>
        </div>
    </div>
    {% endverbatim %}
</div>
