<div >
    <div>
        <div class="panel panel-default stocks-panel" style="border: 0;">
            <button type="button" onclick="printRep()" class="btn btn-default">
                <span class="glyphicon glyphicon-print"></span> Print
            </button>
        </div>

    </div>
    {% verbatim %}
    <div id="report-stock">
        <div style="text-align:center;font-size: 22px;margin: 15px;font-weight:bold;">Stock by Variety</div>
<div class="panel panel-default stocks-panel" style="display:none">
            <div class="datetime-picker-label" id="header-rep-print" style="display:none;"></div>

    <div class="datetime-picker-label" id="header-rep"></div>

            </div>
        <div class="panel panel-default stocks-panel">


            <table class="table">
                <tr  >


                    <th style="text-align:left">Variety</th>
                    <th style="text-align:left">Product name</th>
                    <th style="text-align:left">Date</th>
                    <th style="text-align:center">Palets</th>

                    <th style="text-align:right">Poids net</th>
                </tr>
                <tr ng-repeat="variety in varieties | orderBy:'minDate'" ng-hide="variety.s_weight == 0" style="text-align:right">
                    <td  style="text-align:left"> <b>{{variety.name}} [</b> {{variety.parcel.name}} <b>]</b></td>
                    <td style="text-align:left">{{variety.parcel.product.name}}</td>
                    <td style="text-align:left"><span ng-show='variety.minDate!=bigDate'>{{variety.minDate | date :
                format}}</span>
                        <span ng-show='variety.minDate==bigDate'>---</span></td>
                    <td style="text-align:center">{{variety.t_pallet}}</td>
                    <td>{{variety.s_weight - variety.p_weight  | number}} KG</td>

                </tr>
            </table>
        </div>
    </div>
    {% endverbatim %}
</div>
