<div >
    <style>

    </style>
    <script>
        function print(){
        printJS('report-stock', 'html');
        }
    </script>
 {% verbatim %}
    <div id="report-stock">
        <div style="text-align:center;font-size: 20px;margin: 15px;font-weight: bold;">Produits bruts entrées</div>
        <div class="" style="width:100%">
            <div class="datetime-picker-label">Réception du :{{ params.date }}
                <!--<input type="hidden" class="form-control" ng-change="select(dt)" uib-datepicker-popup="{{format}}"-->
                       <!--ng-model="dt" value="{{ params.date }}"/>-->


            </div>

            <table class="table" style="border:0">
                <tr>
                    <th>Variété</th>
                    <th>Parcelle</th>
                    <th>Nbr palettes</th>
                    <th>Nbr caisses</th>
                    <th>Poids</th>
                </tr>
                <tr ng-repeat="data in stockDailyToShow | orderBy:'codeVariety'">
                    <td> {{data.variety}}</td>
                    <td> {{data.parcel}}</td>
                    <td> {{data.nbPallets}}</td>
                    <td> {{data.nbUnits}}</td>
                    <td> {{data.weight}} KG</td>
                </tr>
            </table>
        </div>
    </div>
    {% endverbatim %}
</div>
